# for the moment, ignore all hidden files AND directories
# it's possible to include .gitignore with a $ git add -f ...

.*
.*~
*~
*#

# ignore these suffixes

*.css
*.err
*.html
*.info
*.log
*.md~
*.texi~

# these directories

ar/

# and these files

fixlib
